//=======================//
//                       //
// déclarations generales//
//                       //
//=======================//
*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    --color-1:#F6BD60;
    --color-2:#F7EDE2;
    --color-3:#F5CAC3;
    --color-4:#84A59D;
    --color-5:#F28482;
    /* background:linear-gradient(90deg,#fad1fa,#fbc7d4); */
    background-color:var(--color-2);
    font-family:'Roboto',sans-serif;
}
a{
    text-decoration:none;
    color:black;
}
@mixin flex-ligne {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
@mixin arrondi_leger{
    border-radius:10px;
}
@mixin small-screen{
    @media screen and (max-width:800px){
        @content;
    }
}
@mixin box_shadow{
    box-shadow:3px 3px 7px 0px rgba(0,0,0,0.2);
}
//=======================//
//                       //
//  style de l'en tête   //
//                       //
//=======================//
header {
    @include flex-ligne;
    background-color:var(--color-1);
    padding:20px;
    background-image:url("images/banniere.jpg");
    background-position:center top 900px;
    margin-bottom:30px;
    @include small-screen{
        flex-wrap:wrap;
    }
}
header h1{
    padding:20px;
    @include arrondi_leger;
    background-color:var(--color-1);
}
.menu {
    @include flex-ligne;
    gap:10px;
    .menu__btn{
        /*margin:30px;*/
        background-color:var(--color-1);
        padding:10px;
        @include arrondi_leger;
    }
    .menu__btn:hover{
        background-color:burlywood;
    }
    @include small-screen{
        // flex-direction:column;
        display:none;
    }
}
.logoPrincipal{
    height:100px;
    width:100px;
    background-color:var(--color-1);
    @include arrondi_leger;

    &__img{
        width:100%;
        height:100%;
    }
}
//=======================//
//                       //
//  style du main        //
//                       //
//=======================//
section{
    padding:20px;
    margin-bottom:20px;
    background-color:var(--color-3);
    @include arrondi_leger;
}
.sectionIntroduction{
    &__img{
        width:50%;
        @include arrondi_leger;
    }
    &__ligne{
        @include flex-ligne;
        @include small-screen{
            flex-direction:column;
        }
    }
}
main{
    max-width:1000px;
    margin:auto;
    margin-bottom:30px;
    @include arrondi_leger;
}
.form{
    &__ligne{
        @include flex-ligne;
        justify-content:flex-start;
        @include small-screen{
            flex-direction:column;
            align-items:flex-start;
        }
    }
    &__element{
        display:flex;
        flex-direction:column;
        margin-bottom:10px;
        margin-right:10px;
        & input,textarea{
            border-radius:10px;
            font-size:1em;
            border:1px solid black;
            box-shadow:1px 1px 4px 0px rgba(0,0,0,0.5);
        }
        & input{
            height:2.5em;
        }
        & input[type="submit"]{
            width:100px;
            margin:auto;
        }
    }
}
h1{
    margin-bottom:15px;
    text-align:center;
    background-color:var(--color-4);
    border-radius:50px;
    // border:1px solid black;
    padding:10px;
    @include box_shadow;
}
.sectionPrix{

    & table{
        margin:auto;
        border-spacing:5px;
    }
    & td{
        padding:30px;
        background-color:var(--color-5);
        @include arrondi_leger;

    }
}
.lieuCarte{
    margin:auto;
    display:block;
}
.gallerie{
    max-width:80%;
    @include small-screen{
        max-width:100%;
    }
    margin:auto;
    position:relative;
    @include small-screen{
        max-width:100%;
    }
    &__boutons{
        position:absolute;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:center;
        z-index:1;
        width:100%;
        height:100%;
    }
    &__images{
        z-index:0;
        width:100%;
        &--hidden{
            display:none;
        }
        &--show{
            display:initial;
        }
    }

    &__puces{
        align-self:flex-end;
        order:2;
        background-color:var(--color-5);
        padding:2px;
        padding-left:5px;
        padding-right:5px;
        margin-bottom:10px;
        border-radius:20px;

        &--Active{
            color:white;
        }
        &--NotActive{
            color:black;
        }
    }
    &__btn{
        width:50px;
        height:50px;
        border-radius:25px;
        background-color:var(--color-5);
        & img{
            width:100%;
            height:100%;
        }
        &--Precedant {
            order:1;
        }
        &--Suivant {
            order:3;
        }
        &:hover{
            backdrop-filter:brightness(180%);
            transform-origin:center;
            transform:scale(1.1,1.1);
        }
        &:active{
            backdrop-filter:brightness(100%);
            transform-origin:center;
            transform:scale(1,1);
        }
        &:focus{
            outline:none;
        }
    }
}
.carteGoogle{
    max-width:80%;
    margin:auto;
    @include small-screen{
        max-width:100%;
    }
}
footer{
    background-color:var(--color-1);
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
}
