*{
    margin:0;
    padding:0;
}
body{
    --color-1:#F6BD60;
    --color-2:#F7EDE2;
    --color-3:#F5CAC3;
    --color-4:#84A59D;
    --color-5:#F28482;
    /* background:linear-gradient(90deg,#fad1fa,#fbc7d4); */
    background-color:var(--color-2);
}
nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:10px;
}
section{
    padding:20px;
}
.elementMenu{
    /*margin:30px;*/
    background-color:var(--color-1);
    padding:10px;
    border-radius:5px;
}
.elementMenu:hover{
    background-color:burlywood;
}
.logoPrincipal{
    height:100px;
    width:100px;
    background-color:var(--color-1);
    border-radius:5px;
}
.logoPrincipal img{
    width:100%;
    height:100%;
}
.section-introduction{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.section-introduction img{
    width:50%;
    border-radius:5px;
}
a{
    text-decoration:none;
    color:black;
}
p{
    /* padding:10px; */
}
header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:var(--color-1);
    padding:20px;
    background-image:url("images/banniere.jpg");
    background-position:center top 900px;
    margin-bottom:30px;
}
header h1{
    padding:20px;
    border-radius:5px;
    background-color:var(--color-1);
}
footer{
    background-color:var(--color-1);
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
}
main{
    max-width:1000px;
    margin:auto;
    background-color:var(--color-3);
    margin-bottom:30px;
    border-radius:5px;
}
.elementFormulaire{
    display:flex;
    flex-direction:column;
}
h1{
    margin-bottom:15px;
}
.section-prix h1{
    text-align:center;
}
.section-prix table{
    /* border:1px solid black; */
    /* border-collapse:collapse; */
    margin:auto;
    border-spacing:5px;
}
.section-prix td{
    /* border:1px solid black; */
    /* border-collapse:collapse; */
    padding:30px;
    background-color:var(--color-5);
    border-radius:5px;

}
.lieuCarte{
    margin:auto;
    display:block;
}
.gallerie{
    width:400px;
    height:auto;
    /* overflow:hidden; */
    margin:auto;
    position:relative;
    box-sizing:content-box;
}
.gallerie-boutons{
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    z-index:1;
    width:100%;
    height:100%;
}
.gallerie-images{
    z-index:0;
}
.gallerie-puces{
    align-self:flex-end;
    order:2;
}
.gallerie-puceActive{
    color:white;
}
.gallerie-puceNotActive{
    color:black;
}
.gallerie img{
    width:400px;
}
.gallerie-hidden{
    display:none;
}
.gallerie-show{
    display:initial;
}
#gallerie-btnSuivant img,#gallerie-btnPrecedant img{
    transform-origin:center;
    width:50px;
    height:50px;
    /* top:50%; */
    /* transform:translate(0%,-50%); */
    backdrop-filter:blur(2px);
    border-radius:25px;
}
#gallerie-btnPrecedant {
    order:1;
}
#gallerie-btnSuivant {
    order:3;
}
#gallerie-btnSuivant img:hover, #gallerie-btnPrecedant img:hover{
    backdrop-filter:brightness(180%);
    transform-origin:center;
    transform:scale(1.1,1.1);
}
